// Start content code
.wrapper
    .container
        .row
            .col-lg-12
                h1
                    | Test H1 Header
                table.table.table-striped
                    tr
                        td Test text
                    tr
                        td  Test text
                a(href="#") text link
// End content code