// Start footer code
footer
    .container
        .row
            .col-lg-4
                h3.title_footer_columns title footer 1
                img.img-footer(src="img/Lorem-Ipsum-Generators.jpg", title="some text img title", alt="ds")
                p.footer-text 
                    | Lorem ipsum dolor sit, 
                    | Sapiente doloremque officia consequatur 
                    | quos quam ad?
                    | fhsdkjfhkjsd jfndskjfjksd  

            .col-lg-4
                h3.title_footer_columns title fooster 1
                span.separator
                ul.footer-menu
                    li
                        a(href="#") itdem4
                    li
                        a(href="#") item2s
                    li
                        a(href="#") item
                    li
                        a(href="#") it3m53
                    li
                        a(href="#") item32
                    li
                        a(href="#") item2
// build:js js/lib.js

<!-- bower:js -->
<!-- endbower -->

// endbuild 
script(src="js/build.js")