// Start footer code
footer
    .container
        .row
            .col-lg-4
                h3.title_footer_columns title footer 1
                img.img-footer(src="img/Lorem-Ipsum-Generators.jpg", title="some text img title", alt="some text alt")
                p.footer-text 
                    | Lorem ipsum dolor sit, 
                    | amet consectetur adipisicing elit. 
                    | Sapiente doloremque officia consequatur 
                    | quos quam ad?

            .col-lg-4
                h3.title_footer_columns title footer 2
                span.separator
                ul.footer-menu
                    li
                        a(href="#") item1
                    li
                        a(href="#") item2
                    li
                        a(href="#") item3
                    li
                        a(href="#") item4
                    li
                        a(href="#") item5
                    li
                        a(href="#") item6
            .col-lg-4
                h3.title_footer_columns title footer 2
                span.separator
                ul.footer-menu
                    li
                        a(href="#") item1
                    li
                        a(href="#") item2
                    li
                        a(href="#") item3
                    li
                        a(href="#") item4
                    li
                        a(href="#") item5
                    li
                        a(href="#") item6

// End footer code
//- Подключение JQ и Bootstrap js Если нужно закоментируй или удали
// jQuery (necessary for Bootstrap's JavaScript plugins)
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
// Include all compiled plugins (below), or include individual files as needed
<script src="js/bootstrap.min.js"></script>