//- .wrapper>.row>.container>header>.col-lg-4+.col-lg-8>ul.header-menu>li*8>a[href=#]{Item menu$} олично работает с emmet 
// Start Header code
.wrapper
    .container
        .row
            header
                .col-lg-4
                    img(src="img/logo.png", alt="some text alt", title="some text title img logo")
                .col-lg-8
                    ul.header-menu
                        li
                            a(href="#") Item menu1
                        li
                            a(href="#") Item menu2
                        li
                            a(href="#") Item menu3
                        li
                            a(href="#") Item menu4
                        li
                            a(href="#") Item menu5
                        li
                            a(href="#") Item menu6
                        li
                            a(href="#") Item menu7
                        li
                            a(href="#") Item menu8
// End Header code