
<!-- Start footer code-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="title_footer_columns">title footer 1</h3><img class="img-footer" src="img/Lorem-Ipsum-Generators.jpg" title="some text img title" alt="ds"/>
        <p class="footer-text">
           Lorem ipsum dolor sit, 
          Sapiente doloremque officia consequatur 
          quos quam ad?
          fhsdkjfhkjsd jfndskjfjksd  
        </p>
      </div>
      <div class="col-lg-4">
        <h3 class="title_footer_columns">title fooster 1</h3><span class="separator"></span>
        <ul class="footer-menu">
          <li><a href="#">itdem4</a></li>
          <li><a href="#">item2s</a></li>
          <li><a href="#">item</a></li>
          <li><a href="#">it3m53</a></li>
          <li><a href="#">item32</a></li>
          <li><a href="#">item2</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- build:js js/lib.js--><!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<script src="js/build.js"></script>